/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --container-width: 400px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.figures {
    width: var(--container-width);
    height: var(--container-width);
    position: relative;
    background-color: #d9d9d9;
}

.figures * {
    position: absolute;
}

.circle-small {
    background-color: #0ca565;
    width: 25%; /* 100px/400px */
    height: 25%; /* 100px/400px */
    border-radius: 50%;
    top: 34%; /* 136px/400px */
    right: 19%; /* 76px/400px */
    z-index: 1;
}

.circle-darkgreen {
    width: 80%; /* 320px/400px */
    height: 80%; /* 320px/400px */
    background-color: #248456;
    -webkit-clip-path: circle(50% at 20.6% 16.6%); 
    clip-path: circle(50% at 20.6% 16.6%);
}

.rectangle-blue {
    background-color: #1b3f99;
    /* background-color: yellow; */
    height: 11.6%; /* ~46px/400px */
    width: 77%; /* ~308px/400px */
    -webkit-transform: rotate(47deg);
        -ms-transform: rotate(47deg);
            transform: rotate(47deg);
    left: 11.1%;
    top: 38.1%; /* 157px/400px */
    z-index: 0;
}

.triangle-half-red {
    background-color: #ca3704;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 25%; /* 100px/400px */
    height: 27%; /* 108px/400px */
    right: 0;
}

.rectangle-round {
    background-color: #920fbf;
    width: 75%; /* 300px/400px */
    height: 20%; /* 80px/400px */
    margin: 0 auto;
    left: 0;
    right: 0;
    /* margin-left: 50px; */
    z-index: 1;
    border-radius: calc(3/40*var(--container-width)); /* 30px/400px */
    bottom: 13%; /* 52px/400px */
}
